body{
    color:#333333;
    font-family:arial;
    max-width: 650px;
    margin:0 auto;
    padding:0 16px;
    text-align: center;

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

header{
    margin-top:16px;
    margin-bottom:48px;
}

h1{
    font-size:64px;
    margin-bottom:16px;
}

header a{
    text-decoration: none;
    color:#888888;
    margin-right:16px;
}

header a:hover{
    border-bottom:3px solid skyblue;
}

footer{
    color:#888888;
    border-top:1px solid #eeeeee;
    margin-top:16px;
    padding:16px 0;
}

.image{
    width:100%;
}

input{
    width:250px;
    padding:8px;
    border:1px solid #cccccc;
}

.result{
    margin-bottom:28%;
}

button{
    cursor: pointer;
    border:1px solid #cccccc;
    background:#cccccc;
    color:#000;
    padding:8px;
    outline: 0;
}
